.banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 25%;
    left: 5%;
    transform: translateY(-50%, -50%);
}

.banner-text h1 {
    font-size: 75px;
    color: honeydew;
}

.colored-box {
    background-color: blanchedalmond;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.round-profile {
    display: inline-block;
    border-radius: 5%;
    overflow: hidden;
    width: 500px;
    height: 500px;
}

.round-profile img {
    border-radius: 50%;
    max-width: 100%;
    display: block;
}

.main-content {
    width: 70% padding: 20px;
    box-sizing: border-box;
    background-color: beige;
    border: 2px solid black;
    padding: 20px;
}

.column-container {
    width: 70%;
    display: flex;
}

.column1 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: darkolivegreen;
}

.column2 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: aquamarine;
}

.sidebar {
    float: right;
    width: 30%;
    background-color: cadetblue;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 25px;
    margin-bottom: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.list {
    list-style: circle;
    padding: 0;
    text-align: left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}

.description {
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}